---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Testimonials from '../components/Testimonials.astro';
import Contact from '../components/Contact.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
---

<Layout title="Quero Clean - Limpeza Profissional de Estofados">
	<main>
		<Hero />
		<About />
		<Services />
		<!-- <Portfolio /> -->
		<div class="desktop-only">
			<Testimonials />
		</div>
		<Contact />
		<WhatsAppButton />
	</main>
</Layout>

<style>
	@media (max-width: 768px) {
		.desktop-only {
			display: none;
		}
	}
</style>